### function that used along with loops
- enumarate()
- zip()

In [1]:
names =['avanish','rahul','amit','nitesh','sandeep','amita',]
for nm in enumerate(names):
    print(nm)

(0, 'avanish')
(1, 'rahul')
(2, 'amit')
(3, 'nitesh')
(4, 'sandeep')
(5, 'amita')

In [6]:
for i,nm in enumerate(names):
    print(f'{nm} is at index{i}')

avanish is at index0
rahul is at index1
amit is at index2
nitesh is at index3
sandeep is at index4
amita is at index5

In [7]:
bday = ['12 oct','2 feb','3 may','4 aug','15 nov','17 dec',]

In [8]:
for nm, date in zip(names, bday):
    print(f'{nm} has ðŸŽ‚ {date}')

avanish has ðŸŽ‚ 12 oct
rahul has ðŸŽ‚ 2 feb
amit has ðŸŽ‚ 3 may
nitesh has ðŸŽ‚ 4 aug
sandeep has ðŸŽ‚ 15 nov
amita has ðŸŽ‚ 17 dec

In [9]:
products = ['tv','fridge','table fan']
prices = ['4000','26000','3000']
qty = [5,10,25]

for p, pr, q in zip(products, prices,qty):
    print(f'{p} ${pr} {q} pcs total = {int(pr)*q}')

tv $4000 5 pcs total = 20000
fridge $26000 10 pcs total = 260000
table fan $3000 25 pcs total = 75000

Loop Control
- continue => skip a turn
- break => axit/stop the loop

Note: they are only used in a condition in side loop

In [11]:
x= [1,2,3,5,0,35,0,1,0,2,5,6]
for i in x:
    if i == 0:
        continue
    print (i)

1
2
3
5
35
1
2
5
6

In [12]:
for i in x:
    if i == 0:
        print('invalid data found, stopping code')
        break
    print(i)

1
2
3
5
invalid data found, stopping code

In [13]:
for i, nm in enumerate(names):
    if i == 5:
        break
    print(nm)

avanish
rahul
amit
nitesh
sandeep

for- else

In [1]:
c = True 
for i  in [2,4,50,66,5,50,7,2]:
    if i == 5:
        c = False
        break
    print(i , end=' ')
if c:
    print('loop completed')
else:
    print('loop broken')

2 4 50 66 loop broken

In [25]:
for i in [2,1,32,41,2,1,2,3,31,33]:
    if i == 5:
        print('loop completed')
        break
    print(i, end=' ')
else:
    print('loop completed')

2 1 32 41 2 1 2 3 31 33 loop completed

while

In [26]:
x = 100
while x > 0:
    print(x)
    x-= 10

100
90
80
70
60
50
40
30
20
10