In [4]:
from dputils.scrape import Scraper, Tag
import pandas as pd

In [5]:
url = 'https://www.flipkart.com/search?q=bags+men&sid=reh%2C4d7%2Cak9&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_2_6_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_2_6_na_na_ps&as-pos=2&as-type=RECENT&suggestionId=bags+men%7CBackpacks&requestId=88aa28c0-7863-4b7c-9a55-1964c35f2195&as-searchtext=bags%20men'
sc = Scraper(url)

In [6]:
target = Tag('div',cls="_1YokD2 _3Mn1Gg")
items = Tag('div',cls="_2B099V")
priceTag = Tag('div', cls="_30jeq3")
brandTag = Tag('div', cls="_2WkVRV")
results = sc.get_all(target, items, price=priceTag, brand=brandTag)

In [7]:
pd.DataFrame(results).to_csv('flipkart.csv', index=False)

In [8]:
amazon_url = 'https://www.amazon.com/s?k=phones&crid=3FTYM31RV35BC&sprefix=phones%2Caps%2C329&ref=nb_sb_noss_1'
sc = Scraper(url=amazon_url)
target = Tag('div', cls='s-main-slot s-result-list s-search-results sg-row')
items = Tag('div', cls='a-size-medium a-color-base a-text-normal')
priceTag = Tag('span',cls='a-price-whole')
title = Tag('h2')
rating = Tag('span', cls='a-icon a-icon-star-small a-star-small-4 aok-align-bottom')
results= sc.get_all(target, items, price=priceTag, title=title, rating=rating)
pd.DataFrame(results)

Empty DataFrame
Columns: []
Index: []

In [10]:
url = "https://www.flipkart.com/search?q=shirt+for+men&sid=clo%2Cash%2Caxc%2Cmmk%2Ckp7&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&as-pos=1&as-type=RECENT&suggestionId=shirt+for+men%7CCasual+Shirts&requestId=53b26044-ac71-45c9-a4aa-63eb4a9cea47&as-searchtext=shie"
sc = Scraper(url)
target = Tag('div', cls='_1YokD2 _3Mn1Gg col-2-12')
items = Tag('div', cls='_2B099V')
priceTag = Tag('div', cls ='_30jeq3')
brandTag = Tag('div', cls ='_2WkVRV')
results = sc.get_all(target,items,price=priceTag,brand=brandTag,Image=Image)
pd.DataFrame(results)

Empty DataFrame
Columns: []
Index: []