In [41]:
from dputils.scrape import Scraper, Tag
import pandas as pd

In [42]:
url = 'https://www.flipkart.com/search?q=bags+men&sid=reh%2C4d7%2Cak9&as=on&as-show=on&otracker=AS_QueryStore_HistoryAutoSuggest_3_3_na_na_na&otracker1=AS_QueryStore_HistoryAutoSuggest_3_3_na_na_na&as-pos=3&as-type=HISTORY&suggestionId=bags+men%7CBackpacks&requestId=6faf6bf0-d08e-4a80-8e11-36c83960015a'
sc = Scraper(url)

In [43]:
target = Tag('div',cls="_1YokD2 _3Mn1Gg")
items = Tag('div',cls="_2B099V")
priceTag = Tag('div', cls="_30jeq3")
brandTag = Tag('div', cls="_2WkVRV")
results = sc.get_all(target, items, price=priceTag, brand=brandTag)

In [44]:
pd.DataFrame(results).to_csv('flipkart.csv', index=False)

In [45]:
flipkart_url ="https://www.flipkart.com/search?q=mobile+phone&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_2_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_2_2_na_na_na&as-pos=2&as-type=RECENT&suggestionId=mobile+phone%7CMobiles&requestId=cc639289-b43d-4be8-8b60-0c8e918cf4da&as-searchtext=mo"
sc = Scraper(url=flipkart_url)
target = Tag('div', cls='_1YokD2 _3Mn1Gg')
items = Tag('div', cls='_3pLy-c row')
brandTag = Tag('div', cls='_4rR01T')
priceTag = Tag('div',cls='_30jeq3 _1_WHN1')
rating = Tag('div', cls='_3LWZlK')
results= sc.get_all(target, items,brand=brandTag, price=priceTag, rating=rating)
pd.DataFrame(results)

                                          brand    price rating
0               realme C30 (Denim Black, 32 GB)   ₹5,749    4.3
1               realme C30 (Denim Black, 32 GB)   ₹6,749    4.1
2              realme C30 (Bamboo Green, 32 GB)   ₹5,749    4.3
3                                   Cellecor E3   ₹1,176    3.9
4                 realme C30 (Lake Blue, 32 GB)   ₹5,749    4.3
5              realme C30 (Bamboo Green, 32 GB)   ₹6,749    4.1
6                 realme C30 (Lake Blue, 32 GB)   ₹6,749    4.1
7    SAMSUNG Galaxy F13 (Nightsky Green, 64 GB)  ₹10,999    4.4
8                  POCO C50 (Royal Blue, 32 GB)   ₹6,499    4.3
9    SAMSUNG Galaxy F13 (Sunrise Copper, 64 GB)  ₹10,999    4.4
10      SAMSUNG Galaxy F04 (Jade Purple, 64 GB)   ₹7,499    4.4
11      APPLE iPhone 14 Plus (Midnight, 128 GB)  ₹76,999    4.7
12             vivo T1 44W (Starry Sky, 128 GB)  ₹14,499    4.5
13             vivo T1 44W (Starry Sky, 128 GB)  ₹15,999    4.4
14        vivo T1 44W (Midnight Galaxy, 128 GB)  ₹14,499    4.5
15        vivo T1 44W (Midnight Galaxy, 128 GB)  ₹15,999    4.4
16                   POCO M4 5G (Yellow, 64 GB)  ₹12,999    4.2
17                                 Nokia 105 SS   ₹1,299    4.2
18  SAMSUNG Galaxy F13 (Sunrise Copper, 128 GB)  ₹11,999    4.4
19     APPLE iPhone 14 Plus (Starlight, 128 GB)  ₹76,999    4.7
20               POCO M4 5G (Cool Blue, 128 GB)  ₹14,999    4.2
21          APPLE iPhone 14 (Starlight, 128 GB)  ₹70,999    4.6
22  SAMSUNG Galaxy F13 (Nightsky Green, 128 GB)  ₹11,999    4.4
23  SAMSUNG Galaxy F13 (Waterfall Blue, 128 GB)  ₹11,999    4.4

In [46]:
url = "https://www.flipkart.com/search?q=shirt+for+men&sid=clo%2Cash%2Caxc%2Cmmk%2Ckp7&as=on&as-show=on&otracker=AS_QueryStore_HistoryAutoSuggest_1_5_na_na_na&otracker1=AS_QueryStore_HistoryAutoSuggest_1_5_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=shirt+for+men%7CCasual+Shirts&requestId=468489ca-4b8a-441e-bda2-18cb119888fe&as-searchtext=shirt"
sc = Scraper(url)
target = Tag('div', cls='_1YokD2 _3Mn1Gg')
items = Tag('div', cls='_1xHGtK _373qXS')
priceTag = Tag('div', cls ='_30jeq3')
brandTag = Tag('div', cls ='_2WkVRV')
results = sc.get_all(target,items,price=priceTag,brand=brandTag)
pd.DataFrame(results).to_csv('flipkart.csv1', index=False)

In [48]:
amazon_url ="https://www.amazon.com/s?k=sports+shoes+for+men&crid=10AH1XI0IMKGF&sprefix=sports+shoes+for+men%2Caps%2C283&ref=nb_sb_ss_ts-doa-p_1_20"
sc = Scraper(url=amazon_url)
target = Tag('div', cls='s-main-slot s-result-list s-search-results sg-row')
items = Tag('div', cls='sg-col-inner')
brandtag = Tag('span', cls ='a-size-base a-color-base puis-bold-weight-text')
priceTag = Tag('span', cls='a-price-whole')
rating = Tag('span', cls ='a-icon-alt')
result = sc.get_all(target,items,brand=brandTag,price=priceTag,rating=rating)
pd.DataFrame(result)

   brand price              rating
0   None   36.  4.1 out of 5 stars
1   None   54.  4.6 out of 5 stars
2   None   59.  4.6 out of 5 stars
3   None   49.  4.5 out of 5 stars
4   None   47.  4.4 out of 5 stars
..   ...   ...                 ...
85  None  None                None
86  None  None                None
87  None  None                None
88  None  None                None
89  None  None                None

[90 rows x 3 columns]