In [49]:
from dputils.scrape import Scraper, Tag
import pandas as pd

In [50]:
url = 'https://www.flipkart.com/search?q=bags+men&sid=reh%2C4d7%2Cak9&as=on&as-show=on&otracker=AS_QueryStore_HistoryAutoSuggest_3_3_na_na_na&otracker1=AS_QueryStore_HistoryAutoSuggest_3_3_na_na_na&as-pos=3&as-type=HISTORY&suggestionId=bags+men%7CBackpacks&requestId=6faf6bf0-d08e-4a80-8e11-36c83960015a'
sc = Scraper(url)

In [51]:
target = Tag('div',cls="_1YokD2 _3Mn1Gg")
items = Tag('div',cls="_2B099V")
priceTag = Tag('div', cls="_30jeq3")
brandTag = Tag('div', cls="_2WkVRV")
results = sc.get_all(target, items, price=priceTag, brand=brandTag)

In [52]:
pd.DataFrame(results).to_csv('flipkart.csv', index=False)

In [53]:
flipkart_url ="https://www.flipkart.com/search?q=mobile+phone&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_2_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_2_2_na_na_na&as-pos=2&as-type=RECENT&suggestionId=mobile+phone%7CMobiles&requestId=cc639289-b43d-4be8-8b60-0c8e918cf4da&as-searchtext=mo"
sc = Scraper(url=flipkart_url)
target = Tag('div', cls='_1YokD2 _3Mn1Gg')
items = Tag('div', cls='_3pLy-c row')
brandTag = Tag('div', cls='_4rR01T')
priceTag = Tag('div',cls='_30jeq3 _1_WHN1')
rating = Tag('div', cls='_3LWZlK')
results= sc.get_all(target, items,brand=brandTag, price=priceTag, rating=rating)
pd.DataFrame(results)

                                                brand    price rating
0                     realme C30 (Denim Black, 32 GB)   ₹6,999    4.1
1                    realme C30 (Bamboo Green, 32 GB)   ₹5,999    4.3
2                       realme C30 (Lake Blue, 32 GB)   ₹5,999    4.3
3                     realme C30 (Denim Black, 32 GB)   ₹5,999    4.3
4                    realme C30 (Bamboo Green, 32 GB)   ₹6,999    4.1
5                       realme C30 (Lake Blue, 32 GB)   ₹6,999    4.1
6                     POCO M4 5G (Power Black, 64 GB)  ₹12,999    4.2
7                       POCO M4 5G (Cool Blue, 64 GB)  ₹12,999    4.2
8          SAMSUNG Galaxy F13 (Waterfall Blue, 64 GB)  ₹10,999    4.4
9             SAMSUNG Galaxy F04 (Jade Purple, 64 GB)   ₹9,249    4.4
10                    POCO M4 Pro (Cool Blue, 128 GB)  ₹12,999    4.3
11         SAMSUNG Galaxy F13 (Nightsky Green, 64 GB)  ₹10,999    4.4
12                   vivo T1 44W (Starry Sky, 128 GB)  ₹14,499    4.5
13                   vivo T1 44W (Starry Sky, 128 GB)  ₹15,999    4.4
14              vivo T1 44W (Midnight Galaxy, 128 GB)  ₹14,499    4.5
15                                       Nokia 105 SS   ₹1,299    4.2
16              vivo T1 44W (Midnight Galaxy, 128 GB)  ₹15,999    4.4
17                   POCO M4 5G (Power Black, 128 GB)  ₹14,999    4.2
18                       POCO C50 (Royal Blue, 32 GB)   ₹6,499    4.3
19              vivo T1 44W (Midnight Galaxy, 128 GB)  ₹17,999    4.3
20  Realme C30 - Locked with Airtel Prepaid (Denim...   ₹5,549    4.3
21                       POCO C50 (Royal Blue, 32 GB)   ₹7,299    4.2
22                 POCO M4 Pro 5G (Cool Blue, 128 GB)  ₹18,999    4.2
23                     APPLE iPhone 11 (Black, 64 GB)  ₹40,999    4.6

In [54]:
url = "https://www.flipkart.com/search?q=shirt+for+men&sid=clo%2Cash%2Caxc%2Cmmk%2Ckp7&as=on&as-show=on&otracker=AS_QueryStore_HistoryAutoSuggest_1_5_na_na_na&otracker1=AS_QueryStore_HistoryAutoSuggest_1_5_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=shirt+for+men%7CCasual+Shirts&requestId=468489ca-4b8a-441e-bda2-18cb119888fe&as-searchtext=shirt"
sc = Scraper(url)
target = Tag('div', cls='_1YokD2 _3Mn1Gg')
items = Tag('div', cls='_1xHGtK _373qXS')
priceTag = Tag('div', cls ='_30jeq3')
brandTag = Tag('div', cls ='_2WkVRV')
results = sc.get_all(target,items,price=priceTag,brand=brandTag)
pd.DataFrame(results).to_csv('flipkart.csv1', index=False)

In [55]:
amazon_url ="https://www.amazon.com/s?k=sports+shoes+for+men&crid=10AH1XI0IMKGF&sprefix=sports+shoes+for+men%2Caps%2C283&ref=nb_sb_ss_ts-doa-p_1_20"
sc = Scraper(url=amazon_url)
target = Tag('div', cls='s-main-slot s-result-list s-search-results sg-row')
items = Tag('div', cls='sg-col-inner')
priceTag = Tag('span', cls='a-price-whole')
rating = Tag('span', cls ='a-icon-alt')
result = sc.get_all(target,items,price=priceTag,rating=rating)
pd.DataFrame(result)

   price              rating
0    41.  4.1 out of 5 stars
1    42.  4.3 out of 5 stars
2    45.  4.2 out of 5 stars
3    34.  4.2 out of 5 stars
4   None  4.6 out of 5 stars
..   ...                 ...
85  None                None
86  None                None
87  None                None
88  None                None
89  None                None

[90 rows x 2 columns]